<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiBasePath</key>
	<string></string>
	<key>ApiHost</key>
	<string>http://filtacular.com</string>
	<key>ApiKey</key>
	<string>876f33df0116c0159353f791ead7bfea</string>
	<key>ApiSecret</key>
	<string>daa117fbbde7a5d02fa4bef0597b6507</string>
</dict>
</plist>
